*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#6a0dad;
}

/* MAIN WINDOW / LETTER */
.window{
    width:500px;
    border:6px solid #8a2be2;
    background:#f3e8ff;
    border-radius:15px;
    backdrop-filter:blur(10px);
}

.title-bar{
    background:#8a2be2;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:24px;
    font-weight:bold;
    border-radius:8px 8px 0 0;
}

.content{
    padding:40px;
    text-align:center;
}

h2{
    margin-bottom:20px;
    color:#4b0082;
}

/* ENVELOPE PAGE */
#envelopePage{
    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    background:#f5effa url("kuromi picture.jpg") center center no-repeat;
    background-size:auto 200px;

    overflow:hidden;
    z-index:9999;
}

.bg-kuromi{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:contain;
    z-index:-1;
}

/* FLOATING HEARTS */
.floating-hearts{
    display: none;
}

.floating-hearts::before{
    position:absolute;
    width:100%;
    height:100%;
    color:#ff6b9c;
    font-size:22px;
    line-height:70px;
    opacity:.6;
}

/* TITLE */
.pixel-title{
    margin-top:20px;
    font-family:'Press Start 2P', cursive;
    font-size:22px;
    color:#222;
    text-align:center;
    z-index:2;
}

@keyframes floatLetter{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0);
    }
}

/* FLOAT ANIMATION */
@keyframes float{
    0%{
        transform:translate(-50%,-50%);
    }
    50%{
        transform:translate(-50%,-60%);
    }
    100%{
        transform:translate(-50%,-50%);
    }
}

/* IMAGE */
.Hannah{
    width:145px;
    height:145px;
    object-fit:cover;
    margin-bottom:30px;
    border-radius:50%;
    border:4px solid #8a2be2;
}

/* BUTTONS */
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

button{
    padding:12px 30px;
    border:3px solid #8a2be2;
    background:white;
    color:#8a2be2;
    font-size:18px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s ease;
    border-radius:10px;
}

#yesBtn:hover,
#noBtn:hover{
    transform:scale(1.1);
    background:#8a2be2;
    color:white;
}

#warning{
    margin-top:15px;
    color:#8a2be2;
    font-size:14px;
    font-weight:bold;
}


.kuromi-envelope-img{
    width:180px; /* mas maliit */
    max-width:50vw;

    cursor:pointer;
    z-index:2;

    animation:floatLetter 2s ease-in-out infinite;
    transition:.3s ease;

    filter:drop-shadow(0 10px 20px rgba(0,0,0,.25));
}

.kuromi-envelope-img:hover{
    transform:scale(1.08);
}

@media screen and (max-width:768px){

    .kuromi-envelope-img{
        width:140px;
    }

}

@media screen and (max-width:768px){

    .kuromi-envelope-img{
        width:240px;
    }

}

/* MOBILE */
@media screen and (max-width:768px){

    .window{
        width:90%;
        margin:20px;
    }

    .title-bar{
        font-size:18px;
        padding:10px;
    }

    .content{
        padding:20px;
    }

    .Hannah{
        width:120px;
        height:120px;
    }

    h2{
        font-size:18px;
    }

    .buttons{
        gap:10px;
        flex-wrap:wrap;
    }

    button{
        padding:10px 20px;
        font-size:16px;
    }

    .envelope{
        width:90%;
        height:300px;
    }

    .envelope::before{
        border-left:45vw solid transparent;
        border-right:45vw solid transparent;
        border-top:150px solid #9370db;
    }

    .heart{
        font-size:60px;
    }

    .letter-text{
        font-size:18px;
        bottom:20px;
    }

    .love-window{
    width:90%;
    max-width:800px;
    height:80vh;
    margin:auto;
    margin-top:50px;
    background:#ffd6e7;
    border:6px solid #ff5c8a;
    border-radius:12px;
    overflow:hidden;
    font-family:monospace;
}

.love-title{
    background:#ffb6c1;
    border-bottom:4px solid #ff5c8a;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:28px;
    font-weight:bold;
    color:#d6336c;
}

.pixel-hearts{
    font-size:22px;
}

.love-content{
    height:calc(80vh - 70px);
    overflow-y:auto;
    padding:30px;
    color:#4a4a4a;
    line-height:2;
    text-align:center;
}

.love-content h2{
    color:#d6336c;
    margin-bottom:20px;
}

.love-content p{
    font-size:18px;
}
}
